{% load thumbnail %}

<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ producto.titulo }}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">

            <div class="thumbnail">
              {% thumbnail producto.imagen "850x600" as im %}
                <img src="{{ im.url }}" alt="...">
              {% endthumbnail %}
             </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>
