{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Carpinteria la fortaleza</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="Embellece tus espacios con muebles hechos a la medida, con la más alta calidad y al mejor precio, sin duda, tu mejor opción en todo Acapulco." />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/custom.css" %}">
	<link rel="shortcut icon" href="{% static "images/favico.ico" %}">
</head>
<body>
	<header class="navbar-fixed-top">
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>

			      <a class="navbar-brand" href="/">
			      	<img src="{% static "images/logo.png" %}" alt="Logo carpinteria la fortaleza"/>
			      	<h1>La fortaleza</h1>
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/"><span class="icon-home"></span>Home</a></li>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-catalogs"></span>Catalogos<span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="/catalogo-muebles/">Muebles</a></li>
			            <li class="divider"></li>
			            <li><a href="/catalogo-acabados/">Acabados y maderas</a></li>
			          </ul>
			        </li>
			        <li><a href="/contacto/"><span class="icon-contact"></span>Contacto</a></li>
			      </ul>
			      
		        	<form class="navbar-form navbar-right" role="search" action="/busqueda/" method="GET">
		        	<div class="form-group">
		          		{# <input type="text" class="form-control" placeholder="¿Qué estas buscando?"> #}
		          		{{ searchform.pista.errors }}
                        {{ searchform.pista }}
		        	</div>
		        	<button id="btnSearch" type="submit" class="btn btn-primary"><span class="icon-search"></span></button>
			      </form>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>
	</header>
	<section id="mainContent">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  	{% for slider in sliders %}
	    		{% if forloop.first %}
	    			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    		{% else %}
	    			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    		{% endif%}
		    {% endfor %}
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    	{% for slider in sliders %}
		    		{% if forloop.first %}
			    		<div class="item active">
			    	{% else %}
			    		<div class="item">
			    	{% endif %}
			    		{% thumbnail slider.imagen "1600x700" crop="center" as im %}
			      			<img src="{{ im.url }}" alt="{{ slider.titulo }}">
			      		{% endthumbnail %}
			      	</div>
		      	{% endfor %}
		      <!-- <div class="carousel-caption">
		        Slider 1
		      </div> -->
		    
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="icon-arrow-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="icon-arrow-right"></span>
		  </a>
		</div>
		<div class="submenu">
			<article class="container">
				<ul class="nav nav-pills">
					{% for categoria in categorias %}
						{% if forloop.first %}
				  			<li class="active"><a class="cwhite" href="/catalogo-muebles/{{categoria.id}}">{{ categoria.nombre }}</a></li>
				  		{% else %}
				  			<li><a class="cwhite" href="/catalogo-muebles/{{categoria.id}}">{{ categoria.nombre}}</a></li>
				  		{% endif  %}
				  	{% endfor %}
				</ul>
			</article>
		</div>
		<div class="jumbotron text-center put-border-bottom">
			<h2>Bienvenido a <strong>Carpintería la Fortaleza</strong></h2>
			<p>Embellece tus espacios con muebles hechos a la medida, con la más alta <strong>calidad</strong> y al <strong>mejor precio</strong>, sin duda, tu mejor opción en todo Acapulco.</p>
		</div>
		<article class="productosPrincipal">
			<div class="container">
				<h3 class="mainOrange"><span class="icon-stats title-ic"></span>Algunos de los muebles que podrían estar en tu hogar</h3>
				<div class="row">
					
						{% for mueble in muebles %}
						<div class="col-xs-6 col-sm-4 col-md-2">
							<a href="/mueble/{{ mueble.categoria_id }}/{{ mueble.pk }}/" class="thumbnail mainOrange">
								{% thumbnail mueble.imagenPortada "300x300" crop="center" as im %}
						      		<img src="{{ im.url }}" alt="{{mueble.titulo}}">
						      	{% endthumbnail %}
					      	</a>
					      	<p class="text-center mainOrange">{{mueble.titulo}}</p>
					    </div>
				      	{% endfor %}
					
				</div>
		      	
			</div>
		</article>
		<div class="jumbotron with-border-bottom text-center">
			<p>No te preocupes si no encuentras tu mueble ideal, <strong>trabajamos sobre pedido</strong>, lo tendrás justo como lo estas imaginando. También podemos ayudarte con <strong>reparaciones</strong> de todo tipo de muebles.</p>
		</div>
		<div class="jumbotron white-background customers text-center">
            <h3>Algunos de nuestros clientes satisfechos</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="{% static "images/madeiras.jpg"%}" alt="">
                    <p>Acapulco, Mexico | 1978</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static "images/maya.jpg"%}" alt="">
                    <p>Francisco, EU | 1998</p>
                    <p>New York, EU | 2000</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static "images/tamayo.jpg"%}" alt="">
                    <p>New York, EU | 2000</p>
                    <p>West Palm Beach, EUA | 2001</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static "images/mercadito.jpg"%}" alt="">
                    <p>New York, EU | 2005</p>
                    <p>(Grove) New York, EU | 2006</p>
                    <p>Chicago, EU | 2008</p>
                    <p>(Midtown) Miami, EU | 2009</p>
                </div>
            </div>
		</div>
		<div class="container-fluid asking-block">
			<div class="container">
				<div class="row" id="asking-block-row">
					<div class="col-12-xs">
						<h4 class="cwhite setInline-Block">¿Te gusto? Luciría <strong>espectacular!</strong></h4>
						<a href="/contacto/" class="btn btn-primary alinearBotonAsk typo18px">Tomemos medidas ya mismo!</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="fstFooter">
			<span><strong>La fortaleza</strong> - Carpintería</span>
			<span>Copyright © All rights reserved - 2014</span>
			<span><a href="http://jualjiman.com" target="_blank" class="mainOrange">Develop by Jualjiman</a></span>
		</div>
		<div class="secFooter"></div>
	</footer>
	
	<!-- ===================JS============================ -->
	<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>
	<script src="{% static "js/prefs.js" %}"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-53648845-2', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
